body {
    font-family: Arial, sans-serif;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* CABEÇALHO */

header {
    width: 100%;
    height: 40px;
    background: #2D2D2D;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Colocado z-index 1 para o cabeçalho ficar acima da imagem de fundo */
}

.background-image {
    background-color: rgb(77, 77, 77);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Colocado z-index -1 para a imagem de fundo ficar atrás de todos os outros elementos */
}


nav {
    width: 100%;
    height: 60px;
    background: #2D2D2D;
}

nav a {
    margin-right: 50px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 400;
    transition: transform 0.3s, box-shadow 0.3s;
}

nav a:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
    color: #FFD700;       /* Muda a cor do texto para dourado */
    transition: all 0.3s ease; /* Transição de 0.3s para todas as propriedades */
}

div#div1H {
    margin-top: 0px;
    margin-left: 30px;
    width: 90px;
    height: 90px;
    background: url("Imagens/Logo.png") center/cover;
    border-radius: 500px;
    position: absolute;
}

.botoes-navbar{
    margin-top: 20px;
    margin-left: 230px;
}

/*BOTÕES DA PÁGINA INÍCIO*/
.box{
    width: 100px;
    height: 100px;
    background: #fff;
}

.flex-container, .flex-container2 {
    background-color:   #2D2D2D;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-right:50px;
    width: 215px;
    height: 50px;    
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px; /* Ajuste a margem conforme necessário */
}

.frase1, .frase2{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
}

.img1{
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-left: 31px;
}

.img2{
    width: 150px;
    height: 150px;
    margin-right: 15px;
    margin-left: 31px;
}

a {
    text-decoration: none;
    color: inherit; /* para que o link herde a cor de seu conteúdo */
}

.flex-container, .flex-container2 {
    cursor: pointer; /* Muda o cursor para uma mãozinha, indicando que é clicável */
    transition: transform 0.2s, box-shadow 0.2s; /* Adiciona transição suave ao aplicar efeitos */
}

.flex-container:hover, .flex-container2:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho quando passa o mouse */
    box-shadow: 0 0 60px rgba(0,0,0,0.5); /* Adiciona uma sombra ao passar o mouse */
}

.flex-container:active, .flex-container2:active {
    transform: scale(0.98); /* Diminui um pouco o tamanho quando clica */
    box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Sombra menor ao clicar */
}


/*FRASE DA PÁGINA INÍCIO*/

.gerenciamento-financeiro {
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 100px;
}

.gratuito {
    color: yellow;
}

.box-frase{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Alterado de center para start para alinhar os itens ao topo */
    width: 700px;
    height: 500px;
    max-width: 1800px;
    margin-top: 100px;
    padding: 0 20px;
}

/* ESTILOS DA TABELA */

.table-contas {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

.table-contas thead tr {
    background-color: #2D2D2D;
    color: white;
}

.table-contas th, .table-contas td {
    padding: 12px 15px;
    border: 1px solid white;  /* Alteração aqui: definindo a borda como branca */
}

.table-contas tbody tr {
    border-bottom: thin solid white;  /* Alteração aqui: definindo a borda inferior como branca */
}

.table-contas tbody tr:last-of-type {
    border-bottom: 2px solid #2D2D2D;
}

.pago {
    background-color: green;
    color: white;
}

.atrasado {
    background-color: red;
    color: white;
}

.alerta {
    background-color: yellow;
}

.neutro {
    color: white;
}

/* Botões para editar */
.edit-buttons {
    display: flex;
    justify-content: center;
}
